<div id="garantia-bar" class="content-stripe">
    <div class="garantia-text">
        {{ textoGarantia }}
    </div>
</div>
<div id="buttons-bar">
    <div id="garantia">
        <div class="texto">
            <span class="bigger">Ll&aacute;manos</span><br/>098 266 3050
        </div>
    </div>
    <div id="busca" ng-click="go.formulario('busca')">
        <div class="texto">
            <span class="bigger">Busca</span><br/>tus repuestos ahora
        </div>
    </div>
    <div id="informate" ng-click="go.informate()">
        <div class="texto">
            <span class="bigger">Inf&oacute;rmate</span><br/>c&oacute;mo pedir tu repuesto
        </div>
    </div>
</div>