<div id="home-bar" class="content-stripe">
    <div id="red-card">
        <div id="texts">
            <div id="text1">{{ randomText.name }}</div>
            <div id="text2">{{ randomText.offer }}</div>
            <div id="text3">{{ randomText.foot }}</div>
        </div>
    </div>
    <div id="big-image">

    </div>
    <div id="promos-reel">
        <div class="inner">
            <div ng-repeat="promo in promos" ng-click="popupPromo(promo.id)" ng-class="{'promo': true, 'fading': fading && $index == 0}">
                {{ displayPromo(promo) }}
            </div>
        </div>
    </div>
</div>