<div id="home-bar" class="content-stripe">
    <div id="red-card">
        <div id="texts">
            <div id="text1">{{ randomText.name }}</div>
            <div id="text2">{{ randomText.offer }}</div>
            <div id="text3">{{ randomText.foot }}</div>
        </div>
    </div>
    <div id="big-image" ng-style="{'background-image': 'url(' + randomImage.random.image + ')'}"></div>
    <div id="promos-reel">
        <div class="inner">
            <div ng-repeat="promo in promos" ng-click="popupPromo(promo.id)" ng-class="{'promo': true, 'fading': fading && $index == 0}">
                {{ displayPromo(promo) }}
            </div>
        </div>
    </div>
</div>
<div id="buttons-bar">
    <div id="garantia" ng-click="go.garantia()">
        <div class="texto">
            <span class="bigger">Garant&iacute;a</span><br/>de f&aacute;brica en repuestos
        </div>
    </div>
    <div id="busca" ng-click="go.formulario('busca')">
        <div class="texto">
            <span class="bigger">Busca</span><br/>tus repuestos ahora
        </div>
    </div>
    <div id="informate" ng-click="go.informate()">
        <div class="texto">
            <span class="bigger">Inf&oacute;rmate</span><br/>c&oacute;mo pedir tu repuesto
        </div>
    </div>
</div>
<div id="promos-bar">
    <div id="disclaimer">Aplican restricciones. Promoci&oacute;n v&aacute;lida s&oacute;lo en Ecuador.</div>
    <div id="reel-blog">
        <div id="reel-holder" class="silver-underline">
            <img id="reel-target" ng-src="{{ reel.current.image }}" />
        </div>
        <div id="blog-link-holder" class="silver-leftline">
            <div id="blog-link" ng-click="go.blog()">

            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="promo-banners">

    </div>
</div>