<div id="home-bar" class="content-stripe">
    <div id="red-card">
        <div id="texts">
            <div id="text1">{{ randomText.name }}</div>
            <div id="text2">{{ randomText.offer }}</div>
            <div id="text3">{{ randomText.foot }}</div>
        </div>
    </div>
    <div id="big-image" ng-style="{'background-image': 'url(' + randomImage.random.image + ')'}"></div>
    <div id="promos-reel" ng-mouseleave="playHomeReel()" ng-mouseenter="stopHomeReel()">
        <div class="inner">
            <div ng-repeat="promo in promos" ng-click="popupPromo(promo.id)" ng-class="{'promo': true, 'fading': fading && $index == 0}">
                {{ displayPromo(promo) }}
            </div>
        </div>
    </div>
</div>
<div id="buttons-bar">
    <div id="garantia" ng-click="go.garantia()">
        <div class="texto">
            <span class="bigger">Garant&iacute;a</span><br/>de f&aacute;brica en repuestos
        </div>
    </div>
    <div id="busca" ng-click="go.formulario('busca')">
        <div class="texto">
            <span class="bigger">Busca</span><br/>tus repuestos ahora
        </div>
    </div>
    <div id="informate" ng-click="go.informate()">
        <div class="texto">
            <span class="bigger">Inf&oacute;rmate</span><br/>c&oacute;mo pedir tu repuesto
        </div>
    </div>
</div>
<script type="text/ng-template" id="display.promo.html">
    <form class="form-horizontal popup-repuestazo" novalidate="novalidate">
        <div class="form-group">
            <label class="col-sm-1 control-label">Producto</label>
            <label class="col-sm-offset-1 col-sm-4 control-label">{{ currentPromo.product }}</label>
            <label class="col-sm-offset-1 col-sm-1 control-label">A&ntilde;o</label>
            <label class="col-sm-offset-1 col-sm-2 control-label">{{ currentPromo.year }}</label>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">Marca</label>
            <label class="col-sm-offset-1 col-sm-4 control-label">{{ currentPromo.brand }}</label>
            <label class="col-sm-offset-1 col-sm-1 control-label">Modelo</label>
            <label class="col-sm-offset-1 col-sm-2 control-label">{{ currentPromo.model }}</label>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">Oferta</label>
            <label class="col-sm-offset-1 col-sm-4 control-label">{{ currentPromo.offer }}</label>
            <label class="col-sm-offset-1 col-sm-1 control-label">Descuento</label>
            <label class="col-sm-offset-1 col-sm-2 control-label">{{ currentPromo.discount }}</label>
        </div>
        <div class="form-group">
            <button class="btn btn-default col-sm-offset-5" ng-click="goPromo(currentPromo)">Solicitar</button>
        </div>
    </form>
    <div class="bg-success text-success messages-list" ng-if="success">
        Su consulta ha sido enviada con &eacute;xito
    </div>
</script>
<div id="promos-bar">
    <div id="disclaimer">Aplican restricciones. Promoci&oacute;n v&aacute;lida s&oacute;lo en Ecuador.</div>
    <div id="reel-blog">
        <div id="reel-holder" class="silver-underline">
            <img id="reel-target" ng-src="{{ reel.current.image }}" ng-click="go.formulario('reel')" />
        </div>
        <div id="blog-separator" class="silver-leftline"></div>
        <div id="blog-link-holder" class="silver-underline">
            <div id="blog-link" ng-click="go.blog()"></div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="promo-banners" class="silver-underline">
        <div id="promo-izquierda">
            <img class="banner" ng-src="{{ bannerIzquierda.image }}" ng-click="go.promociones()" />
        </div>
        <div id="centro">
            <img class="banner" ng-src="{{ bannerCentro.image }}" ng-click="go.promociones()"/>
        </div>
        <div id="promo-derecha" class="silver-leftline">
            <img class="banner" ng-src="{{ bannerDerecha.image }}" ng-click="go.promociones()" />
        </div>
        <div class="clear"></div>
    </div>
</div>