<div id="informate-bar">
    <img ng-src="{{ imagenInformate.image }}" ng-click="go.formulario('informate')" />
</div>
<div id="buttons-bar">
    <div id="garantia" ng-click="go.garantia()">
        <div class="texto">
            <span class="bigger">Garant&iacute;a</span><br/>de f&aacute;brica en repuestos
        </div>
    </div>
    <div id="busca" ng-click="go.formulario('busca')">
        <div class="texto">
            <span class="bigger">Busca</span><br/>tus repuestos ahora
        </div>
    </div>
    <div id="informate">
        <div class="texto">
            <span class="bigger">Ll&aacute;manos</span><br/>098 266 3050
        </div>
    </div>
</div>