#coming-soon {
    background: url('../images/bg-coming-soon.png') center center no-repeat;
    background-size: contain;
    cursor: pointer;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.form-dialog .modal-content {
    background-color: red;
    padding: 8px;
    font-weight: 500;
    color: white
}

.messages-list {
    padding: 12px;
    border-radius: 6px;
    margin: 0 15px 15px;
}

form.popup-repuestazo {
    position: relative;
}

form.popup-repuestazo .header {
    float: right;
    height: 100px;
    width: 50%;
    overflow: visible;
    border-bottom: 2px solid white;
    margin-bottom: 15px;
}

form.popup-repuestazo .form-group {
    clear: both;
}

form.popup-repuestazo button.btn {
    background: yellow;
    color: red;
    border: 3px red;
    border-radius: 6px;
}

form.popup-repuestazo #logo {
    float: left;
    width: 156px;
    height: 83px;
}

form.popup-repuestazo #slogan {
    float: right;
    width: 260px;
    height: 40px;
}

#header {
    background-color: red;
    height: 125px;
    position: relative;
}

#content {
    position: relative;
    width: 1168px;
    margin: -125px auto -100px;
    padding: 150px 0 125px;
    min-height: 100%;
}

.underlined {
    border-bottom: 1px solid white;
}

#footer {
    background-color: red;
    height: 100px;
    position: relative;
}

#head-items {
    height: 100%;
    width: 1168px;
    overflow: visible;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

#logo-main {
    left: 140px;
    top: 29px;
    position: absolute;
    width: 275px;
    height: 120px;
    background: url('../images/logo-principal.png') center center no-repeat;
    background-size: contain;
}

#slogan-main {
    right: 140px;
    top: 50px;
    position: absolute;
    width: 414px;
    height: 63px;
    background: url('../images/slogan-principal.png') center center no-repeat;
    background-size: contain;
}

ul#menu {
    border-radius: 10px;
    position: absolute;
    list-style-image: none;
    padding: 0;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(100, 100, 100, 0.75);
    -moz-box-shadow:    4px 4px 5px 0px rgba(100, 100, 100, 0.75);
    box-shadow:         4px 4px 5px 0px rgba(100, 100, 100, 0.75);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    right: 113px;
    top: 113px;
}

ul#menu li {
    padding: 3px;
    float: left;
    display: inline-block;
    background-color: #fff608;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    text-shadow: 1px 1px;
    cursor: pointer;
}

ul#menu li:not(:first-child) {
    border-left: 1px silver solid;
}

ul#menu li:not(:first-child) {
    border-left: 1px silver solid;
}

ul#menu li:first-child {
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

ul#menu li:last-child {
    padding-right: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

div#address {
    left: 50%;
    bottom: 45px;
    position: absolute;
    color: white;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 800px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

#footer-icons {
    width: 1000px;
    height: 60px;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    bottom: 35px;
}

#logo-foot {
    float: right;
    width: 137px;
    height: 60px;
    background: url('../images/logo-pie.png') center center no-repeat;
    background-size: contain;
}

#slogan-foot {
    float: right;
    width: 205px;
    height: 60px;
    background: url('../images/slogan-pie.png') center center no-repeat;
    background-size: contain;
}

#placeholder {

}

div.content-stripe {
    text-align: center;
}

div.content-stripe > * {
    text-align: left;
}

/* Barra primaria del home */

div#home-bar {
    height: 288px;
}

div#red-card {
    position: relative;
    width: 400px;
    height: 288px;
    display: inline-block;
    background: url('../images/bg-tarjeta.png') center center no-repeat;
    background-size: contain;
}

div#red-card > div#texts {
    position: absolute;
    left: 25px;
    top: 70px;
    right: 115px;
    bottom: 95px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

div#red-card > div#texts > div#text1 {
    color: white;
    font-size: 28px;
    font-weight: 600;
    line-height: 25px;
    min-height: 50px;
    max-height: 50px;
    overflow: hidden;
}

div#red-card > div#texts > div#text2 {
    color: #fff608;
    font-size: 47px;
    line-height: 50px;
    font-weight: 600;
    min-height: 50px;
    max-height: 50px;
    overflow: hidden;
}

div#red-card > div#texts > div#text3 {
    color: white;
    font-size: 14px;
    font-weight: normal;
    min-height: 20px;
    max-height: 20px;
    overflow: hidden;
}

div#big-image {
    position: relative;
    width: 250px;
    height: 288px;
    display: inline-block;
    background: center center no-repeat;
    background-size: contain;
}

div#promos-reel {
    position: relative;
    width: 350px;
    height: 288px;
    display: inline-block;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(100, 100, 100, 0.75);
    -moz-box-shadow:    4px 4px 5px 0px rgba(100, 100, 100, 0.75);
    box-shadow:         4px 4px 5px 0px rgba(100, 100, 100, 0.75);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
    background-color: #fff608;
    border: 1px solid #c0c0c0;
    padding: 8px;
    border-radius: 8px;
}

div#promos-reel > div.inner {
    position: absolute;
    left: 8px;
    top: 8px;
    right: 8px;
    bottom: 8px;
    overflow: hidden;
}

div#promos-reel > div.inner > div.promo {
    font-weight: 600;
    overflow: hidden;
    line-height: 15px;
}

div#promos-reel > div.inner > div.promo.fading {
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -ms-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
    height: 0;
}

div#promos-reel > div.inner > div.promo:hover {
    color: white;
    background: red;
}

/* Barra de elementos Informate / Busca / Garantia */

div#buttons-bar {
    position: relative;
    height: 94px;
    margin-top: 15px;
}

div#buttons-bar > div {
    position: absolute;
    background-color: red;
    color: white;
    cursor: pointer;
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

div#buttons-bar div.texto {
    text-align: center;
    padding-left: 50px;
    background-position: left center;
}

div#buttons-bar div.texto > span.bigger {
    font-size: 30px;
    line-height: 30px;
}

div#buttons-bar > div#garantia {
    width: 450px;
    height: 80px;
    left: 0;
    top: 50%;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

div#buttons-bar > div#garantia > div.texto {
    position: absolute;
    top: 50%;
    right: 50px;
    background-image: url('../images/tilde-garantia.png');
    background-size: 35px 43px;
    background-repeat: no-repeat;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

div#buttons-bar > div#busca {
    height: 94px;
    width: 238px;
    border-radius: 6px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div#buttons-bar > div#busca > div.texto {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url('../images/tilde-busca.png');
    background-size: 35px 35px;
    background-repeat: no-repeat;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div#buttons-bar > div#informate {
    width: 450px;
    height: 80px;
    right: 0;
    top: 50%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

div#buttons-bar > div#informate > div.texto {
    position: absolute;
    top: 50%;
    left: 50px;
    background-image: url('../images/tilde-informate.png');
    background-size: 33px 33px;
    background-repeat: no-repeat;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Barra de reel y blog (home) */

div#reel-bar {

}

/* Barra de banners inferiores */

div#promos-bar {

}