#coming-soon {
    background: url('../images/bg-coming-soon.png') center center no-repeat;
    background-size: contain;
    cursor: pointer;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.form-dialog .modal-content {
    background-color: red;
    padding: 8px;
    font-weight: 500;
    color: white
}

.messages-list {
    padding: 12px;
    border-radius: 6px;
    margin: 0 15px 15px;
}

form.popup-repuestazo {
    position: relative;
}

form.popup-repuestazo .header {
    float: right;
    height: 100px;
    width: 50%;
    overflow: visible;
    border-bottom: 2px solid white;
    margin-bottom: 15px;
}

form.popup-repuestazo .form-group {
    clear: both;
}

form.popup-repuestazo button.btn {
    background: yellow;
    color: red;
    border: 3px red;
    border-radius: 6px;
}

form.popup-repuestazo #logo {
    float: left;
    width: 156px;
    height: 83px;
}

form.popup-repuestazo #slogan {
    float: right;
    width: 260px;
    height: 40px;
}